html body {
    background-image: url(../../img/baground.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100vh;
}

main {
    width: 95%;
    margin: 0 auto;
}

header {
    margin-top: 30px;
}

button {
    border-radius: 50%;
    border: solid 1px #595DD2;
    color: #727287;
    background-color: transparent;
}

h1 {
    color: #727287;
    font-size: 15px;
    position: absolute;
    top: 21px;
    left: 6%;
}

h2 {
    color: #FAF5F7;
    font-size: 15px;
    position: absolute;
    top: 21px;
    right: 60px;
}

.img-cont {
    display: flex;
    justify-content: space-between;
}
  
.img-cont a img {
    margin-top: 20px;
    width: 95%;
    display: inline-block;
    border-radius: 5px;
    border-color: #727287;
    border-width: 2px;
    border-style: solid;
}
  

/*.pag-left {
    width: 500px;
    height: 300px;
}*/
